body {
    background-color: #e5e3db;
    font-family: 'tahoma', sans-serif;
    color: #555;
    font-size: 14px;
}
 
header {
    background-color: #d31200;
    padding: 20px 0;
    font-size: 30px;
    color: white;
    border-bottom: 10px solid #555;
    margin-bottom: 20px;
}

h1 {
	font-size:36px;
	color: #333;
	font-family:'Tahoma', sans-serif;
	margin: 20px 0;
}
h2 {
	font-size:24px;
	color: #333;
	font-family:'Tahoma', sans-serif;
	margin: 20px 0;
}

form {
    background-color: #f7f5ed;
    padding: 10px;
    border-radius: 3px;
}
form:after {
    content: "";
    display:block;
    clear:both;
}

input, select{
    border-radius: 3px;
    border:1px solid #ccc ;
    padding:3px;
    width: 200px;
    margin: 10px;
}
select{
    width: auto;
}
input[maxlength="4"]{
    width:50px;
}

th, td {
    padding: 6px 10px;
    text-align: left;
}
 
th {
    background-color: #f7f5ed;
    font-weight: bold;
}
